/* ==========================================================================
   Search styles - begin
   ========================================================================== */
@keyframes navglitch {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes navglitchreverse {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
}

/* ==========================================================================
# Search opener - begin
========================================================================== */
.mkdf-search-opener {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  line-height: 1;
  margin: 0 10px;
}

.mkdf-search-opener .mkdf-search-opener-wrapper {
  display: block;
}

.mkdf-search-opener .mkdf-search-opener-wrapper > * {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: inherit;
}

.mkdf-search-opener .mkdf-search-opener-wrapper > *:before {
  display: block;
  line-height: inherit;
}

.mkdf-search-opener.mkdf-search-opener-svg-path .mkdf-search-opener-wrapper .st0 {
  fill: #08104d;
}

.mkdf-search-opener.mkdf-search-opener-svg-path .mkdf-search-opener-wrapper .st1 {
  fill: #D7E3F7;
  -webkit-transition: fill 0.5s ease;
  -moz-transition: fill 0.5s ease;
  transition: fill 0.5s ease;
}

.mkdf-search-opener.mkdf-search-opener-svg-path .mkdf-search-opener-wrapper > * {
  vertical-align: middle;
}

.mkdf-search-opener.mkdf-search-opener-svg-path:hover .mkdf-search-opener-wrapper .st1 {
  fill: #c1ccde;
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-search-opener,
.mkdf-light-header .mkdf-top-bar .mkdf-search-opener {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-search-opener.mkdf-search-opener-svg-path .mkdf-search-opener-wrapper .st0,
.mkdf-light-header .mkdf-top-bar .mkdf-search-opener.mkdf-search-opener-svg-path .mkdf-search-opener-wrapper .st0 {
  fill: #fff;
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-search-opener.mkdf-search-opener-svg-path .mkdf-search-opener-wrapper .st1,
.mkdf-light-header .mkdf-top-bar .mkdf-search-opener.mkdf-search-opener-svg-path .mkdf-search-opener-wrapper .st1 {
  fill: #c9cfff;
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-search-opener.mkdf-search-opener-svg-path:hover .mkdf-search-opener-wrapper .st1,
.mkdf-light-header .mkdf-top-bar .mkdf-search-opener.mkdf-search-opener-svg-path:hover .mkdf-search-opener-wrapper .st1 {
  fill: #fff;
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-search-opener:hover,
.mkdf-light-header .mkdf-top-bar .mkdf-search-opener:hover {
  color: #ff4b36 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-search-opener,
.mkdf-dark-header .mkdf-top-bar .mkdf-search-opener {
  color: #08104d !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-search-opener:hover,
.mkdf-dark-header .mkdf-top-bar .mkdf-search-opener:hover {
  color: #ff4b36 !important;
}

/* ==========================================================================
# Search opener - end
========================================================================== */
/* ==========================================================================
# Search template style - begin
========================================================================== */
.mkdf-search-page-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 80px;
}

.mkdf-search-page-holder .mkdf-search-page-form {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 30px;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-search-title {
  margin: 0 0 20px;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-search-label {
  display: block;
  font-size: 13px;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 10px;
  clear: both;
  border-bottom: 1px solid #d7e3f7;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder .mkdf-column-left {
  display: table-cell;
  vertical-align: top;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder .mkdf-column-right {
  display: table-cell;
  width: 1%;
  text-align: left;
  vertical-align: top;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder .mkdf-search-field {
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0 20px 0 3px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: 0;
  vertical-align: middle;
  -webkit-appearance: none;
  box-sizing: border-box;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder .mkdf-search-field::-webkit-input-placeholder {
  color: inherit;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder .mkdf-search-field:-moz-placeholder {
  color: inherit;
  opacity: 1;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder .mkdf-search-field::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder .mkdf-search-field:-ms-input-placeholder {
  color: inherit;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder .mkdf-search-submit {
  position: relative;
  display: inline-block;
  width: auto;
  height: 40px;
  line-height: 40px;
  padding: 0;
  font-size: 18px;
  color: #666a80;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  vertical-align: middle;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder .mkdf-search-submit:hover {
  color: #08104d;
}

.mkdf-search-page-holder article {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 30px 0;
  margin: 0;
  border-bottom: 1px solid #d7e3f7;
}

.mkdf-search-page-holder article.sticky .mkdf-post-title a {
  color: #ff4b36;
}

.mkdf-search-page-holder article.page .mkdf-post-title-area .mkdf-post-info > div.mkdf-post-info-category {
  display: none;
}

.mkdf-search-page-holder article .mkdf-post-content {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mkdf-search-page-holder article .mkdf-post-image {
  display: block;
  float: left;
  width: 130px;
}

.mkdf-search-page-holder article .mkdf-post-image a, .mkdf-search-page-holder article .mkdf-post-image img {
  display: block;
}

.mkdf-search-page-holder article .mkdf-post-title-area {
  min-height: 130px;
  padding: 0 0 0 150px;
}

.mkdf-search-page-holder article .mkdf-post-title-area.mkdf-no-thumbnail {
  padding: 0;
  min-height: inherit;
}

.mkdf-search-page-holder article .mkdf-post-title-area .mkdf-post-title-area-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.mkdf-search-page-holder article .mkdf-post-title-area .mkdf-post-title-area-inner .mkdf-post-title {
  margin: 0;
}

.mkdf-search-page-holder article .mkdf-post-title-area .mkdf-post-title-area-inner .mkdf-post-excerpt {
  margin: 7px 0 0;
}

.mkdf-search-page-holder .mkdf-blog-pagination {
  margin: 50px 0 0;
}

/* ==========================================================================
# Search template style - end
========================================================================== */
/* ==========================================================================
# Search covers header - start
========================================================================== */
.mkdf-search-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  background-color: #fff;
  z-index: 115;
  text-transform: capitalize;
}

.mkdf-search-cover.mkdf-opener-in-top-header {
  top: auto;
  bottom: 100%;
}

.mkdf-search-cover .mkdf-container,
.mkdf-search-cover .mkdf-container-inner {
  height: 100%;
}

.mkdf-fixed-header-appear .mkdf-search-cover,
.mkdf-sticky-header-appear .mkdf-search-cover,
.mkdf-mobile-header.mobile-header-appear .mkdf-search-cover {
  position: fixed;
}

.mkdf-fixed-header-appear.admin-bar .mkdf-search-cover,
.mkdf-sticky-header-appear.admin-bar .mkdf-search-cover,
.admin-bar .mkdf-mobile-header.mobile-header-appear .mkdf-search-cover {
  top: 32px;
}

.mkdf-search-cover .mkdf-form-holder-outer {
  display: table;
  height: 100%;
  width: 100%;
}

.mkdf-search-cover .mkdf-form-holder {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding: 0 6%;
  box-sizing: border-box;
  box-shadow: 0 5px 20px 0 rgba(23, 44, 82, 0.1);
}

.mkdf-search-cover .mkdf-form-holder-inner {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.mkdf-search-cover .mkdf-form-holder-inner > span,
.mkdf-search-cover .mkdf-form-holder-inner svg {
  float: left;
  line-height: 1.5em;
  padding-right: 34px;
  color: #08104d;
}

.mkdf-search-cover .mkdf-form-holder-inner > span .st0,
.mkdf-search-cover .mkdf-form-holder-inner svg .st0 {
  fill: #08104d;
}

.mkdf-search-cover .mkdf-form-holder-inner > span .st1,
.mkdf-search-cover .mkdf-form-holder-inner svg .st1 {
  fill: #D7E3F7;
  -webkit-transition: fill 0.5s ease;
  -moz-transition: fill 0.5s ease;
  transition: fill 0.5s ease;
}

.mkdf-search-cover .mkdf-container-inner .mkdf-form-holder {
  padding: 0;
}

.mkdf-search-cover .mkdf-container-inner .mkdf-search-close {
  right: 0;
}

.mkdf-search-cover input {
  display: inline-block;
  vertical-align: middle;
  float: left;
  width: 87%;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: 13px;
  font-weight: inherit;
  color: #666a80;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  outline-offset: 0;
  text-transform: capitalize;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.mkdf-search-cover input:focus {
  color: inherit;
}

.mkdf-search-cover input::-webkit-input-placeholder {
  color: inherit;
}

.mkdf-search-cover input:-moz-placeholder {
  color: inherit;
  opacity: 1;
}

.mkdf-search-cover input::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

.mkdf-search-cover input:-ms-input-placeholder {
  color: inherit;
}

.mkdf-search-cover input[type="submit"] {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  visibility: hidden;
}

.mkdf-search-cover .mkdf-search-close {
  position: absolute;
  top: 50%;
  right: 0;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mkdf-search-cover .mkdf-search-close:hover {
  color: #ff4b36;
}

.mkdf-search-cover .mkdf-search-close.mkdf-search-close-icon-pack {
  font-size: 32px;
  width: 40px;
  height: 40px;
  background: #08104d;
  border-radius: 100%;
  text-align: center;
  line-height: 37px;
}

.mkdf-search-cover .mkdf-search-close.mkdf-search-close-icon-pack * {
  display: block;
  line-height: inherit;
}

.mkdf-search-cover .mkdf-search-close.mkdf-search-close-icon-pack *:before {
  display: block;
  line-height: inherit;
}

.mkdf-search-cover .mkdf-search-close.mkdf-search-close-icon-pack > span {
  margin-left: -1px;
}

.mkdf-search-cover .mkdf-search-close.mkdf-search-close-svg-path .st0 {
  fill: #ff4b36;
}

.mkdf-search-cover .mkdf-search-close.mkdf-search-close-svg-path .st1 {
  fill: #fff;
}

.mkdf-search-cover .mkdf-search-close.mkdf-search-close-svg-path svg {
  padding: 0;
}

.mkdf-search-cover .mkdf-search-close.mkdf-search-close-svg-path > * {
  vertical-align: middle;
}

.mkdf-search-cover.disabled input,
.mkdf-search-cover.disabled input:focus {
  font-weight: normal;
}

/* ==========================================================================
# Search covers header - end
========================================================================== */
/* ==========================================================================
   Search styles - end
   ========================================================================== */

/*# sourceMappingURL=search-map.css.map */
