/* Headers */
.is-fullheight{
    min-height:60vh !important;
}
.banner-section{
    min-height:282px;
    background:#37474f;
    text-align: center;
    max-height: 500px !important;

}
.blog-header{
    background:#37474f;

}
header.pageheader{
    background:#37474f;
    min-height:400px;
}
.hero-body{
    vertical-align: middle;
    margin:0 auto;
    padding-bottom: 8rem !important;
    padding-top: 5rem !important;
}
.homepage-header .hero-body{
    padding-bottom: 12rem !important;
    padding-top: 8rem !important;
}
body header.homepage-header{
    background:#37474f;
    text-align: center;
    max-height: 500px !important;
    min-height:60vh;
    background-image: url('../images/backgrounds/FastTimeFirstData.jpg');
    background-position: -400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
}
body header.platform-header{
    background:#37474f;
    text-align: center;
    max-height: 500px !important;
    min-height:800px;
    background-image: url('../images/backgrounds/RisingSunBackgroundCenter.svg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
}
body header.platform-header h1{
    color:#00ACC1 !important;
}
body header.platform-header h2{
    color: #37474F !important;
}
body header.pricing-header{
    background: #37474F;
    background-image: url('../images/backgrounds/pricing-header.svg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
}
body header.company-header{
    background: #37474F;
    background-image: url('../images/backgrounds/Minneapolis.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
}
body header.partner-contact-header{
    
}
body header.thankyou-header{
    background:#37474f;
}
body header.noheader{
    min-height:0;
    height:auto;
}