.homepage{
    background:#333 !important;
    text-align: center;
}
.menu-top-menu-container{
    webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-left: auto;
}
.top-nav > li{
    width:auto;
    display:inline-block;
}

a.btn{
    padding: 0.8em 2em !important;
}

/*Headers*/
.blog-header{
    background:#37474f;
}